<div class="cart-container" [style.height]="height+'px'">
  <div class="header clearfix">
    나의 장바구니
    <span *ngIf="isFold">
      <button type="button" class="btn btn-transparent pull-right" (click)="unfold()"><em class="icon-arrow-down"></em> </button>
    </span>
    <span *ngIf="!isFold">
      <button type="button" class="btn btn-transparent pull-right" (click)="fold()"><em
        class="icon-arrow-up"></em> </button>
    </span>
  </div>
  <div class="status-bar row">
    <div class="pull-left">
      주문금액
    </div>
    <div class="progressbar-section col-sm-8 pull-left">
      <div id="price-graph" class="progress">
        <div *ngFor="let item of items; let i = index" [attr.data-index]="i"
             class="progress-bar" [ngClass]="progressBarClasses[i%2]"
             [style.width]="(item.totalPrice()/progressBarMax*100) + '%'" >
          {{ item.totalPrice() | currency:'KRW':true}}
        </div>
      </div>
      <div id="freeship-graph" class="progress">
        <div id="freeship-progress-bar" class="progress-bar" role="progressbar"
             [style.width]="(30000/progressBarMax*100) + '%'" ></div>
      </div>
    </div>
    <div id="price-section" class="col-sm-offset-1 pull-left">
      <div>Total {{totalPrice| currency:'KRW':true}}</div>
      <div *ngIf="totalPrice < 30000" class="text-danger">(배송비 별도)</div>
      <div *ngIf="totalPrice >= 30000" class="text-primary">(무료 배송)</div>
    </div>
    <div class="buttons pull-left">
      <button type="button" class="btn btn-default" (click)="readyAlert()">주문하기</button>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-default" (click)="priceOrder()">가격순 정렬</button>
    <button type="button" class="btn btn-default" (click)="nameOrder()">이름순 정렬 </button>
  </div>
  <div>
    <input type="checkbox" name="select" id="" [checked]="isAllChecked()" (change)="checkAll($event.target.checked);calculateTotalPrice();"/> 전체 선택
    <button type="button" class="btn btn-default" (click)="removeSelected();">선택 삭제</button>
  </div>
  <div class="row items clearfix">
    <div *ngFor="let item of items | orderByPipe : [ sort ]; let i = index" class="col-sm-2" [attr.data-index]="i">
      <div class="thumbnail">
          <input type="checkbox" name="select" id=""
          [(ngModel)]="item.checked" [checked]="item.checked"
          (ngModelChange)="calculateTotalPrice();"/>
          <span class="close" (click)="removeItemAt(i)">
            <em class="fa fa-times"></em>
          </span>
        <img src="{{item.img}}">
        <div class="caption">
          <h6>{{item.name}}</h6>
          <div>
              <span>{{item.price | currency:'KRW':true}}</span>
            <div class="pull-right input-group item-count">
              <input type="number" class="form-control" min=1 max=99 value={{item.count}} [(ngModel)]="item.count" (change)="item.setCount($event.target.value);calculateTotalPrice();"/>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="item.addCount();calculateTotalPrice();">+</button>
                <button type="button" class="btn btn-default" (click)="item.subCount();calculateTotalPrice();">-</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
