<div class="cart-container" [style.height]="height+'px'">
  <div class="header clearfix">
    나의 장바구니
    <span *ngIf="isFold">
      <button type="button" class="btn btn-transparent pull-right" (click)="unfold()"><em class="icon-arrow-up"></em> </button>
    </span>
    <span *ngIf="!isFold">
      <button type="button" class="btn btn-transparent pull-right" (click)="fold()"><em
        class="icon-arrow-down"></em> </button>
    </span>
  </div>
  <div class="status-bar row">
    <div class="pull-left">
      주문금액
    </div>
    <div class="progressbar-section col-sm-8 pull-left">
      <div id="scale-graph" class="progress">
        <div id="scale-progress-bar" class="progress-bar" role="progressbar"
          *ngFor="let scale of scaleNumbers; let i = index" [attr.data-index]="i"
	        [style.width]="100.0/scaleNumbers.length + '%'">
		      <div class="scale">
		        <img class="scale-image" src="/image/scale_arrow.png">
			      <br><div class="scale-number">{{scale| currency:'KRW':true}}</div>
		      </div>
	      </div>
      </div>
	    <div id="freeship-graph" class="progress">
        <div id="freeship-progress-bar" class="progress-bar" role="progressbar"
	      [style.width]="30000/progressBarMax * 100 + '%'">
		  <div class="freeship">
		    <img class="freeship-image" src="/image/delivery_free.png">
		  </div>
	    </div>
      </div>
	  <div id="price-graph" class="progress">
        <div *ngFor="let item of items; let i = index" [attr.data-index]="i" class="progress-bar"
		  [style.width]="(item.totalPrice()/progressBarMax*100) + '%'">
		  <div *ngIf="progressBarMax == 30000" [ngClass]="progressBarClasses[i%2]">
            {{item.totalPrice() | currency:'KRW':true}}
          </div>
		  <div *ngIf="progressBarMax == 50000" [ngClass]="progressBarClasses[i%2 + 2]">
            {{item.totalPrice() | currency:'KRW':true}}
          </div>
		  <div *ngIf="progressBarMax == 100000" [ngClass]="progressBarClasses[i%2 + 4]">
            {{item.totalPrice() | currency:'KRW':true}}
          </div>
		  <div *ngIf="progressBarMax == 200000" [ngClass]="progressBarClasses[i%2 + 6]">
            {{item.totalPrice() | currency:'KRW':true}}
          </div>
		  <div *ngIf="progressBarMax == 500000" [ngClass]="progressBarClasses[i%2 + 8]">
            {{item.totalPrice() | currency:'KRW':true}}
          </div>
		  <div *ngIf="progressBarMax == 1000000" [ngClass]="progressBarClasses[i%2 + 10]">
            {{item.totalPrice() | currency:'KRW':true}}
          </div>
        </div>
      </div>
    </div>
    <div class="price-section pull-left">
      <div class="price-value">Total {{totalPrice| currency:'KRW':true}}</div>
      <div *ngIf="totalPrice < 30000" class="text-danger">(배송비 별도)</div>
      <div *ngIf="totalPrice >= 30000" class="text-primary">(무료 배송)</div>
    </div>
    <div class="buttons pull-right">
    <button type="button" class="btn btn-default" (click)="readyAlert()">주문하기</button>
    </div>
  </div>
  <div>
    <input type="checkbox" name="select" id="" [checked]="isAllChecked()" (change)="checkAll($event.target.checked);highlightSelectedThumbnails();calculateTotalPrice();"/> 전체 선택
    <button type="button" class="btn btn-default" (click)="removeSelected();">선택 삭제</button>
    <button type="button" class="btn pull-right btn-default" (click)="nameOrder()">이름순 정렬 </button>
    <button type="button" class="btn pull-right btn-default" (click)="priceOrder()">가격순 정렬</button>
    <input type="text" class="pull-right"  [(ngModel)]="userFilter.name" placeholder="Search to type">

    <button type="button" class="col-sm-1 com-md-1 btn btn-default" (click)="typeOrder($event)" id="water">water</button>
    <button type="button" class="col-sm-1 com-md-1 btn btn-default" (click)="typeOrder($event)" id="cleanser">cleanser</button>
    <button type="button" class="col-sm-1 com-md-1 btn btn-default" (click)="typeOrder($event)" id="detergent">detergent</button>
    <button type="button" class="col-sm-1 com-md-1 btn btn-default" (click)="typeOrder($event)" id="oralcare">oralcare</button>
    <button type="button" class="col-sm-1 com-md-1 btn btn-default" (click)="typeOrder($event)" id="tissue">tissue</button>
    <button type="button" class="col-sm-1 com-md-1 btn btn-default" (click)="typeOrder($event)" id="mask">mask</button>
  </div>
  <div class="row items clearfix">
    <div *ngFor="let item of items | orderByPipe : [ sort ] | filterBy : userFilter; let i = index" class="col-sm-2" [attr.data-index]="i">
      <div class="thumbnail thumbnail-cart" (click)="selectItemAt(i)">
          <span class="item-buttons">
            <button class="item-include">
              <em *ngIf="item.included" class="fa fa-ban included-state" (click)="excludeItemAt(i);calculateTotalPrice();"></em>
              <em *ngIf="!item.included" class="fa fa-ban excluded-state" (click)="includeItemAt(i);calculateTotalPrice();"></em>
            </button>  
		    <button class="remove-button" (click)="removeItemAt(i);calculateTotalPrice();">
              <em class="fa fa-trash"></em>
            </button>
          </span>
        <img src="{{item.img}}">
        <div class="caption">
          <h6>[{{item.category}}]</h6>
          <h6>{{item.name}}</h6>
          <div>
              <span>{{item.price | currency:'KRW':true}}</span>
            <div class="pull-right input-group item-count">
              <input type="number" class="form-control" min=1 max=99 value={{item.count}} [(ngModel)]="item.count" (change)="item.setCount($event.target.value);calculateTotalPrice();"/>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="item.addCount();calculateTotalPrice();">+</button>
                <button type="button" class="btn btn-default" (click)="item.subCount();calculateTotalPrice();">-</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
