@import '../../../../shared/styles/app/variables.scss';

.cart-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: white;
  z-index: 100;

  & > .header{
    background-color: $brand-warning-light;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
 }

  & > .body{
    width: 100%;
  }

  .status-bar{
    margin: 0;
    padding: 10px;
  }

  .progressbar-section{
    position: relative;
    & > #freeship-graph{
      position: absolute;
      top: 0;
      width: 95%;
      background: transparent;
      overflow: visible;

      & > #freeship-progress-bar{
        opacity: 0.4;
      }

      &:after{
        position: absolute;
        margin-top: -20px;
        content: url("/image/delivery_free.png");
      }
    }
  }

  .items{
    height: 390px;
    overflow-y: scroll;;
  }

  .thumbnail {
    height: 340px
  }
}
