<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a href="#">
                    Kmarket
                </a>
            </li>
            <!-- END lock screen-->
        </ul>
    </div>
    <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
