@import '../../../../shared/styles/app/variables.scss';

.item-list-container{
  margin-bottom: 100px;
  .item{
    .thumbnail .caption h5{
      height: 50px;
    }
  }
}

.item-count {
  width: 100%;

}

.button-list-container{
  //height: 50px;
  overflow: hidden;
  padding: 10px;
}

.modal-content{
  top: 50px;
}

.modal-body{
  img{
    max-width: 100%;
  }

  max-height:700px;
  overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
