@import '../../../../shared/styles/app/variables.scss';

.item-list-container{
  margin-bottom: 100px;
  .item{
    .thumbnail .caption h5{
      height: 50px;
    }
  }
}

.item-count {
  width: 140px;

}

.button-list-container{
  height: 50px;
}

.modal-content{
  top: 50px;
}

.modal-body{
  img{
    max-width: 100%;
  }

  max-height:700px;
  overflow: auto;
}
