<div class="item-list-container clearfix" [style.height]="height+'px'">
  <div *ngFor="let item of items" class="col-sm-3 col-md-2 item">
    <div class="thumbnail">
      <img src="{{item.img}}">
      <div class="caption clearfix">
        <h5>{{item.name}}</h5>
        <div>
          <span>{{item.price | currency:'KRW':true}}</span>
          <div class="pull-right input-group item-count">
            <input type="number" class="form-control" min=1 max=99 value={{item.count}} [(ngModel)]="item.count" (change)="item.setCount($event.target.value)"/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="item.addCount()">+</button>
              <button type="button" class="btn btn-default" (click)="item.subCount()">-</button>
            </div>
          </div>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary" (click)="addItem(item)">장바구니 담기</button>
        </div>
      </div>
    </div>
  </div>
</div>
