<div class="button-list-container">
  <button type="button" class="col-sm-2 col-md-2 btn btn-warning btn-outline" (click)="priceOrder()"
          [ngClass]="{'active': sort == 'price' }">가격순 정렬
  </button>
  <button type="button" class="col-sm-2 com-md-2 btn btn-warning btn-outline" (click)="nameOrder()"
          [ngClass]="{'active': sort == 'name' }">이름순 정렬
  </button>

  <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
    <input type="text" class="form-control"
           [(ngModel)]="userFilter.name" placeholder="Search to type">
  </div>

</div>
<div class="button-list-container">
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('')"
          [ngClass]="{'active': categorizer == '' }">All
  </button>
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('water')"
          [ngClass]="{'active': categorizer == 'water' }">water
  </button>
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('cleanser')"
          [ngClass]="{'active': categorizer == 'cleanser' }">cleanser
  </button>
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('detergent')"
          [ngClass]="{'active': categorizer == 'detergent' }">detergent
  </button>
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('oralcare')"
          [ngClass]="{'active': categorizer == 'oralcare' }">oralcare
  </button>
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('tissue')"
          [ngClass]="{'active': categorizer == 'tissue' }">tissue
  </button>
  <button type="button" class="col-sm-1 com-md-1 btn btn-info btn-outline" (click)="typeOrder('mask')"
          [ngClass]="{'active': categorizer == 'mask' }">mask
  </button>
  <br>
</div>
<div class="item-list-container clearfix" [style.height]="height+'px'">
  <div class="col-sm-6">
    <div *ngFor="let item of items | orderByPipe : [ sort, 0 ] | filterBy : userFilter; let i = index;"
         class="col-xs-3 col-sm-3 col-lg-3 item">
      <div class="thumbnail bg-white">
        <img src="{{item.img}}" (click)="showDetail(item)">
        <div class="caption clearfix">
          <h5>{{item.name}}</h5>
          <div>
            <div class="pull-right" style="margin-bottom: 5px;">{{item.price | currency:'KRW':true}}</div>
            <div class="pull-right input-group item-count">
              <input type="number" class="form-control" min=1 max=99 value={{item.count}} [(ngModel)]="item.count"
                     (change)="item.setCount($event.target.value)"/>
              <div class="input-group-btn">
                <span type="button" class="btn btn-default" (click)="item.addCount()">+</span>
                <span type="button" class="btn btn-default" (click)="item.subCount()">-</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-top: 5px;">
            <button type="button" class="btn btn-primary btn-outline" (click)="addItem(item)">장바구니 담기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngFor="let item of items | orderByPipe : [ sort, 4 ] | filterBy : userFilter;  let i = index;"
         class="col-xs-3 col-sm-3 col-lg-3 item">
      <div class="thumbnail bg-white">
        <img src="{{item.img}}" (click)="showDetail(item)">
        <div class="caption clearfix">
          <h5>{{item.name}}</h5>
          <div>
            <div class="pull-right" style="margin-bottom: 5px;">{{item.price | currency:'KRW':true}}</div>
            <div class="pull-right input-group item-count">
              <input type="number" class="form-control" min=1 max=99 value={{item.count}} [(ngModel)]="item.count"
                     (change)="item.setCount($event.target.value)"/>
              <div class="input-group-btn">
                <span type="button" class="btn btn-default" (click)="item.addCount()">+</span>
                <span type="button" class="btn btn-default" (click)="item.subCount()">-</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-top: 5px;">
            <button type="button" class="btn btn-primary btn-outline" (click)="addItem(item)">장바구니 담기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #detailModal="bs-modal" [config]="{backdrop: false}"
       class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="detailModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{selectedItem.name}}</h4>
        </div>
        <div class="modal-body clearfix">
          <div class="col-sm-12">
            <div class="desc">
              <div *ngFor="let img of selectedItem.descImgs">
                <img [src]="img">
              </div>
            </div>
            <!--<div class="price">-->
            <!--{{selectedItem.price | currency:'KRW':true}}-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
